<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PaperDao">

    <insert id="addPaper" parameterType="Paper">
        INSERT INTO paper(paper_id,name,number,detail)
        VALUES (#{paperId},#{paperName}, #{paperNum}, #{paperDetail})
    </insert>

    <delete id="deletePaperById" parameterType="long">
        delete from paper where paper_id=#{paperID}
    </delete>

    <update id="updatePaper" parameterType="Paper">
        update paper
        SET NAME = #{paperName},NUMBER = #{paperNum},detail = #{paperDetail}
        WHERE  paper_id = #{paperId}
    </update>

    <select id="queryById" resultMap="paperResultMap" parameterType="long">
        select paper_id,name,number,detail
        from paper
        where paper_id = #{paperId}
    </select>

    <select id="queryAllPaper" resultMap="paperResultMap">
        select paper_id,name,number,detail
        from paper
    </select>

    <resultMap id="paperResultMap" type="Paper">
        <id property="paperId" column="paper_id"/>
        <result property="paperName" column="name"/>
        <result property="paperNum" column="number"/>
        <result property="paperDetail" column="detail"/>
    </resultMap>
</mapper>